<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
    <!--o express.static serve os arquivos a partir da pasta /public. Então o navegador enxerga css/styles.css como se fosse http://localhost:3500/css/styles.css, e o ../ vira irrelevante — ou até problemático.-->
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <h1>Section of Study</h1>
    <br>
    <!-- Mesma coisa no caminho da imagem! -->
    <img src="img/computer-program-code-on-a-black-background-close-up-high-quality-free-photo.jpg">
</body>

</html>